{% extends 'base.html.twig' %}

{% block title %}Espace Personnel{% endblock %}

{% block body %}
    {% include '_base/_header.html.twig' %}
    <h1 class="text-center my-2">Bienvenue sur Votre espace Personnel</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mes Commande</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Info Personnel</a>
        </li>
    </ul>
    <div class="tab-content my-2" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab" style="min-height: 58vh">
            <div class="container-fuild px-3">
                <div class="row my-3">
                    <div class="col-12">
                        <h3>Liste des Commande</h3>
                        <table class="table table-striped table-hover">
                            <thead class="text-center">
                            <tr style="background-color: #9fcdd4;font-size: 0.85em">
                                <th>Id</th>
                                <th>email</th>
                                <th>Produit</th>
                                <th>date de la commande</th>
                                <th>dates de debut</th>
                                <th>Prix du service</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for order in app.user.orders  %}
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.email }}</td>
                                        {% if order.product != null%}
                                            <td>{{ order.product.name }}</td>
                                        {% else %}
                                            <td>vide</td>
                                        {% endif %}
                                        <td>{{ order.datetime | date }}</td>
                                        <td>{{ order.startDate | date }}</td>
                                        <td>{{ order.product.price }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-warning">
                            Si vous rencontrer un probleme avec une commande en cours ou si vous désirez annuler ou modfier celle-ci<br>
                            Veuillez utiliser le formulaire de contacter en page d'accueil.<br>
                            Merci de votre compréhension.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade px-2" id="home" role="tabpanel" aria-labelledby="home-tab" style="min-height: 50vh">
            <div>{{ include('back/user/form.html.twig') }}</div>
        </div>
    </div>
    {% include '_base/_footer.html.twig' %}
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
